---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://byaga.dev/</loc>
    <changefreq>weekly</changefreq>
    <priority>1.0</priority>
  </url>
  {%- for project in collections.project %}
  <url>
    <loc>https://byaga.dev{{ project.url }}</loc>
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  {%- endfor %}
  {%- for post in collections.post %}
  <url>
    <loc>https://byaga.dev{{ post.url }}</loc>
    <lastmod>{{ post.date | isoDate }}</lastmod>
    <changefreq>yearly</changefreq>
    <priority>0.7</priority>
  </url>
  {%- endfor %}
</urlset>
